.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  color: grey;
  top: 5px;
}

.toggle-switch__text-F {
  left: 9px;
}

.toggle-switch__text-C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
