.card {
  flex: 1 1 283px; /* allows growth + sets minimum size */
  max-width: 323px; /* matches your design */
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  gap: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.card__image {
  width: 100%;
  border-radius: 12px;
  border: 1px;
  border-style: solid;
  border-color: #000000 30%;
  cursor: pointer;
}
