.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__avatar_none {
  height: 40px;
  background-color: rgba(0, 0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
}
